*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Manrope,sans-serif;
    /* background:#ffe3e2; */
}
.pcart{
    max-width: 1000px;
    margin:0 auto;
}
.pcart h1{
    padding:30px 0;
    text-align: center;
    text-transform: uppercase;
}
.project{
    /* border:2px solid red; */
    height:500px;
    display: flex;
}
.left-bar{
    flex-basis: 65%;
  padding: 40px 60px;
  border:2px solid #f05421;
  border-radius: 10px;
}
.right-bar{
    flex-basis: 35%;
    margin-left: 20px;
    padding: 20px;
    height:400px;
    border-radius: 7px;
    background: #fff;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}
.right-bar p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.right-bar hr{
    margin-bottom: 40px;
}
.right-bar a{
    background-color: #f05421;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height:40px;
    line-height: 40px;
    font-weight: 700;
} 
.right-bar i{
    margin-right: 15px;
}
.right-bar a:hover{
    background-color: aqua;
}


