body{
  box-sizing: border-box;
  background-color: beige;
}
.AV-main{
  width:100%;
  height:800px;
  border:1px solid noshade;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.AV-leftmain{
  width:20%;
  height:100%;
  border: 1px solid noshade;
  background-color:#f7f7f7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.AV-nav{
  width:95%;
  height:150px;
  border:1px solid noshade;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AV-nav>img{
  width:60%;
  border-radius: 20px;
 
}
.AV-details{
  width:95%;
  margin-top:60px;
  border:1px solid noshade;
  border:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.AV-details button:hover{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.AV-details button{
  display:block;
  width:70%;
  border-radius: 10px;
  font-size: 15px;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: grey;
  border-style: none;
}
.AV-details button>h2{
font-size: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AV-details>button:nth-child(7){
  width:50%;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 25px;
}
.AV-details>button:nth-child(8){
  width:50%;
}
.AV-details>button:last-child:hover{
  background-color: red ;
}
.AV-details>button:last-child{
  margin-top: 120px;
  width:100px;
  background-color:rgb(205, 43, 43);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.AV-rightmain{
  width:95%;
  height:95%;
  border: 1px solid noshade;
  border-radius: 20px;
}
.AV-dashboard{
   width:100%;
   height:200px;
   border:1px solid noshade;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   justify-content:space-between;
   gap:20px;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   border-top-right-radius: 20px;
   background-color: #f7f7f7;
}
.AV-dashboard div{
   display: flex;
   height:70px;
   margin:Auto;
}
.AV-dashboard div>img{
  display: block;
  width:30%;
  padding-left: 20px;
}
.AV-contents{
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.AV-contents div{
  width:95%;
  height:30px;
  padding-top:10px;
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}