body{
  box-sizing: border-box;
  background-color: beige;
}
.AV-main{
  width:100%;
  height:800px;
  border:1px solid noshade;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.AV-leftmain{
  width:20%;
  height:100%;
  border: 1px solid noshade;
  background-color:#f7f7f7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.AV-nav{
  width:95%;
  height:150px;
  border:1px solid noshade;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AV-nav>img{
  width:60%;
  border-radius: 20px;
 
}
.AV-details{
  width:95%;
  margin-top:60px;
  border:1px solid noshade;
  border:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.AV-details button:hover{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.AV-details button{
  display:block;
  width:70%;
  border-radius: 10px;
  font-size: 15px;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: grey;
  border-style: none;
}
.AV-details button>h2{
font-size: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.AV-details>button:nth-child(7){
  width:50%;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 25px;
}
.AV-details>button:nth-child(8){
  width:50%;
}
.AV-details>button:last-child:hover{
  background-color: red ;
}
.AV-details>button:last-child{
  margin-top: 120px;
  width:100px;
  background-color:rgb(205, 43, 43);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.AV-rightmain{
  width:95%;
  height:95%;
  border: 1px solid noshade;
  border-radius: 20px;
}
.AV-dashboard{
   width:100%;
   height:200px;
   border:1px solid noshade;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   justify-content:space-between;
   gap:20px;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   border-top-right-radius: 20px;
   background-color: #f7f7f7;
}
.AV-dashboard h2{
  font-size: 25px;
  margin-left:5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#d18c46;
}
.AV-dashboard div{
   display: flex;
   height:70px;
   margin:Auto;
}
.AV-dashboard div>img{

  width:30%;
  padding-left: 20px;
}
.AV-contents{
  justify-content: center;
  
}
.AV-contents div{
  width:95%;
  height:30px;
  padding-top:10px;
  margin-left:20px;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

#AV-addproduct{
  width:100%;
  height:150px;
  display:none;
  background-color: inherit;
}
#AV-addproduct h3{
 color:rgb(111, 106, 106)
}
#AV-addproduct input{
 height:25px;
 width:200px;
 border-collapse:none;
 border-color:rgb(172, 166, 166);
}
#AV-submit{
  margin-left:25px;
  width:120px;
  height:30px;
  background-color: green;
  border-style: none;
  color:white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#AV-submit:hover{
  background-color:rgb(120, 217, 120);
}
#AV-productdata{
  background-color:inherit;
  width:100%;
  height:500px;
  /* display:flex; */
  display:none;
  overflow-y: scroll;
 
}

#AV-productdata div{
  width:95%;
  height:200px;
  border:1px solid noshade;
  margin:5px;
  padding:0;
  border-radius: 10px;
  background-color: #f0f0f0;
  overflow-y: scroll;
  position:relative;
  z-index: 0;
  transition: transform .6s;
}
#AV-productdata div:hover{
  transform: scale(.98);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color:white;
}
#AV-productdata div>h3{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2b1111;
  text-align: justify;
  margin-left:20px;
  margin-right:100px;
}
#AV-productdata div>img{
  position:absolute;
  top:10px;
  right:0;
  width:20%;
  z-index: 1;
}
#AV-productdata div>button{
  width:100px;
  height:24px;
  background-color: red;;
  margin-left:20px;
  margin-bottom:5px;
}

/* kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */

#userAV{
  background-color:inherit;
  width:100%;
  height:500px;
  /* display:flex; */
  display:block;
  overflow-y: scroll;
  overflow-wrap: normal;
}

#userAV div{
  width:65%;
  height:100px;
  border:1px solid noshade;
  margin:5px;
  padding:0;
  border-radius: 10px;
  background-color: #f0f0f0;

  position:relative;
  z-index: 0;
  transition: transform .6s;
}
#userAV div:hover{
  transform: scale(.98);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color:white;
}
#userAV div>h3{
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2b1111;
  text-align: justify;
  margin-left:20px;
  margin-right:100px;
}
/* #AV-productdata div>img{
  position:absolute;
  top:10px;
  right:0;
  width:20%;
  z-index: 1;
} */
#userAV div>button{
  width:100px;
  height:24px;
  background-color: rgb(159, 16, 16);;
  margin-left:20px;
  margin-bottom:5px;
  color:white;
  border-style: none;
}
#userAV div>button:hover{
  background-color: red;
  border-style: none;
}
body{
  position:relative;
  z-index: 2;
}
#AV-login{
  width:400px;
  height:400px;
  position:absolute;
  z-index:3;
  top:200px;
  left:200px;
  background-color: #f0f0f0;
  padding:20px;
  
}
#AV-login input{
 display: block;
width:80%;
height:30px;
}