*{
    font-family: Manrope,sans-serif;
    margin-top: 0px;
    margin: auto;
    
}

/* header */

.prime-nav > div{
    display: flex;
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
}
.prime-nav > div > form {
    border-bottom: 1px solid rgb(156, 156, 156);
    padding-bottom: 4px;
}
.prime-nav > div > form > input{
    border: none;
    font-size: 16px;
    line-height: 20px;

}
.small-nav-icon > a{
        padding: 0px 15px 0px 15px;
        text-decoration: none;
}

a{
    text-decoration: none;
}
.logo> a> img{ 
       width: 350px;
       
}
.sec
ond-nav{
    padding-top: 8px;
    padding-bottom: 8px;
}
.second-nav > div {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 13px;
    line-height: 1.25rem;
    background-color: transparent;
    
}
.second-nav > div > a > p{
    color: #000000;
}
.second-nav > div > a > p:hover {
    color: #ef3d22
}
.nav {
    background-color: #5b5b5b;
    box-sizing: border-box;
    height: 48px;
    padding-top: 10px;
    overflow: hidden;
    /* border: 2px solid black; */
}
.nav > ul{
    display: flex;
    width: 80%;
    min-width: 1200px;
    justify-content: center;
    margin: auto;  

}
.nav > ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.nav > ul li>span >a{
    display: flex;
    font-family: Manrope,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px 5px 5px 5px;
    
    
}
.drop-btn{
    border:none
    
}

.is-hidden{
    display: none;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 143px;
    z-index: 10;
    /* color: green; */
    background-color: #f6f6f6;

}
.drop-btn:hover .is-hidden{
    display: block;

}
.dropdown-col{
    float: left;
    width: 10%;
}
.dropdown-col > ul{
    margin-bottom:10px;
}
.hidden >li > a{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
}
.hidden >li:first-child{
    font-size: 15px;
    color:#9d6a37;
    
}
.hidden > li > a{
    color:  #5b5b5b;
    font-size: 12px;
    justify-content: none;
    /* border: 1px solid red; */
    font-size: 14px;
    text-align: left;

}

.hidden > li{
    /* border: 1px solid red; */
    justify-content: left;
    
}
.hidden > li > a:hover{
    color:#9d6a37;
    /* border: 1px solid red; */
    
}

/* landing page */

#BeKind{
    width: 95%;
    margin: auto;
    height: 300px;
    /* border: 1px solid red; */
    margin-top: 1.5%;
}

#BeKind > img{
    /* border: 1px solid red; */
    display: block;
    width: 95%;
    margin: auto;
    height: 100%;

}

#ShopByCategories{
    /* border: 1px solid red; */
    width: 95%;
    text-align: center;
    margin-top: 1.5%;
    color: #9e6d3c;
}


#ShopByCategoriesImg{
    width: 95%;
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5px;

}

#ShopByCategoriesImg > div{
    /* border: 1px solid red; */
    margin-top: 1.5%;
    width: 90%;
    color: rgb(153, 151, 151);
    font-weight: 100;
    font-size: 13px;
} 

#ShopByCategoriesImg > div > img{
    /* border: 1px solid red; */
    margin-top: 1.5%;
    width: 99%;
} 

#all{
    /* border:1px solid red; */
    width: 95%;
    text-align: center;
    margin-top: 1.5%;
    color: #f16421;
    cursor: pointer;
    font-size: 13px;
}

#CareFor{
    /* border: 1px solid red; */
    width: 95%;
    text-align: center;
    margin-top: 2.5%;
    color: #9e6d3c;
}

#CareForImg{
    width: 95%;
    height:250px;
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

#CareForImg > div{
    width: 100%;
    height:250px;
    /* border: 1px solid red; */
}

#CareForImg > div >img{
    width: 100%;
    height: 100%;
}

#Sellers{
    width: 95%;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 1.5%;
    color: #9e6d3c;
}

#SellersImg{
    width: 95%;
    height: 200px;
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

#SellersImg > div{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
}

#SellersImg > div >img{
    display: block;
    width: 95%;
    height: 150px;
    margin: auto;
}


#SellersImg > div > h4{
    color:rgb(85, 83, 83);
    font-size: 16px;
}

#SellersImg > div > p{
    color:rgb(143, 141, 141);
    font-size: 12px;
}

#discover{
    width: 95%;
    /* border: 1px solid red; */
    font-size: 20px;
    text-align: center;
    margin-top: 1.5%;
    color: #9e6d3c;
}


#discoverImg{
    width: 95%;
    
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

#discoverImg > div{
    width: 100%;
   
    /* border: 1px solid red; */
}

#discoverImg > div >img{
    display: block;
    width: 95%;
   
    margin: auto;
}


#discoverImg > div > h4{
    color:rgb(85, 83, 83);
    font-size: 16px;
    margin-top: 1.5%;
}

#discoverImg > div > p{
    color:rgb(143, 141, 141);
    font-size: 12px;
}

#Follow{
    width: 95%;
    /* border: 1px solid red; */
    font-size: 20px;
    text-align: center;
    margin-top: 1.5%;
    color: #9e6d3c;
}


#FollowImg{
    width: 95%;
    
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#FollowImg > div{
    width: 100%;
   
    /* border: 1px solid red; */
}

#FollowImg > div >img{
    display: block;
    width: 95%;
   
    margin: auto;
}


#FollowImg > div > h4{
    color:rgb(85, 83, 83);
    font-size: 16px;
    margin-top: 1.5%;
}

#FollowImg > div > p{
    color:rgb(143, 141, 141);
    font-size: 12px;
}


#checkCollection{
    width: 95%;
    /* border: 1px solid red; */
    font-size: 20px;
    text-align: center;
    margin-top: 1.5%;
    color: #9e6d3c;
}


#checkCollectionImg{
    width: 95%;
    
    /* border: 1px solid red; */
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#checkCollectionImg > div{
    width: 100%;
   
    /* border: 1px solid red; */
}

#checkCollectionImg > div >img{
    display: block;
    width: 95%;
   
    margin: auto;
}


#checkCollectionImg > div > h4{
    color:rgb(85, 83, 83);
    font-size: 16px;
    margin-top: 1.5%;
}

#checkCollectionImg > div > p{
    color:rgb(143, 141, 141);
    font-size: 12px;
}



#ExploreBrands{
    width: 95%;
    /* border: 1px solid red; */
    font-size: 18px;
    text-align: center;
    margin-top: 3.5%;
    color: #9e6d3c;
}


#ExploreBrandsImg{
    width: 95%;
    
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

#ExploreBrandsImg > div{
    width: 100%;
   
    /* border: 1px solid red; */
}

#ExploreBrandsImg > div >img{
    display: block;
    width: 95%;
   
    margin: auto;
}

#text{
    /* border: 1px solid red; */
    width: 95%;
    font-size: 15px;
    

    
}

#text > h5{
    margin-left: 0px;
    margin-top: 2%;


}

#text > p{
    /* border: 1px solid red; */
    margin-left: 0px;
    margin-top: 1%;
    font-size: 13px;
}

li{
    margin-left: 0px;
}

span{
    color: #f16421;
}


/* footer */


.list>li {
    cursor: pointer;
}

#footer-wrap {

    border: 1px solid #e7ebed;
    background-color: #f4f5f7;
    margin-top: 1.5%;
}

#top-footer,
#bottom-first-footer {
    padding: 1.5% 5% 2% 5%;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-footer-col {
    flex-basis: 33.3%;
    margin: 0;
}

#footer-logo,
.footer-col-heading {
    margin-top: 2%;
    margin-bottom: 2%;

}

.footer-col-heading>a {
    margin-bottom: 2%;
    text-decoration: none;
    color: black;
}

.list {
    padding: 0%;
    margin-top: 0%;
}

.list a,
.footer-col-wrapper>a,
p {
    text-decoration: none;
    color: #969696;
    line-height: 1.62;
    font-weight: 400;

}

.list li {
    list-style-type: none;
    color: #969696;
}

.footer-col-wrapper {

    padding-right: 18%
}

.bottom-footer-col {
    flex-basis: 33.3%;
    margin: 0;
}

.wrap-content {

    padding-right: 15%;
}

#cards-wrap {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 8Vh 8VH;
}

#cards-wrap>div {
    margin: 0% 15% 15% 0%;
}

#cards-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.store {
    width: 100%;
    margin: 0%;
    padding-left: 0%;
}

.store>li {
    width: 50%;
    display: block;
    float: left;
    list-style: none;
    margin: 0%;

}

.store>li>a>img {
    width: 95%;
    height: 7VH;
}

.social-media-wrap {
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding-left: 0%;
}

.social-media-wrap>li {
    flex-basis: 20%;
    margin: 0%;
    list-style: none;
    padding-left: 0%;
}

.social-media-wrap>li>a>img {
    width: 75%;
    height: 7VH;
}


hr {
    background-color: rgb(236, 233, 233);
    border: 0px;
    height: 2px;
}

#bottom-last-footer {
    padding: 0% 5% 1% 5%;
}

.flex-basis50 {
    flex-basis: 50%;
    padding: 0%;
}

#blf-col>ul {
    padding: 0%;
}

#blf-col>ul>li,
#blf-col>ul>li>a {
    list-style: none;
    text-decoration: none;
    display: block;
    float: left;
    color: gray;

}