*{
    font-family: Manrope,sans-serif;
    margin: 0px;
}

/* header */

.prime-nav > div{
    display: flex;
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
}
.prime-nav > div > form {
    border-bottom: 1px solid rgb(156, 156, 156);
    padding-bottom: 4px;
}
.prime-nav > div > form > input{
    border: none;
    font-size: 16px;
    line-height: 20px;

}
.small-nav-icon > a{
        padding: 0px 15px 0px 15px;
        text-decoration: none;
}

a{
    text-decoration: none;
}
.logo> a> img{ 
       width: 350px;
       
}
.sec
ond-nav{
    padding-top: 8px;
    padding-bottom: 8px;
}
.second-nav > div {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 13px;
    line-height: 1.25rem;
    background-color: transparent;
    
}
.second-nav > div > a > p{
    color: #000000;
}
.second-nav > div > a > p:hover {
    color: #ef3d22
}
.nav {
    background-color: #5b5b5b;
    box-sizing: border-box;
    height: 48px;
    padding-top: 10px;
    overflow: hidden;
    /* border: 2px solid black; */
}
.nav > ul{
    display: flex;
    width: 80%;
    min-width: 1200px;
    justify-content: center;
    margin: auto;  

}
.nav > ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.nav > ul li>span >a{
    display: flex;
    font-family: Manrope,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px 5px 5px 5px;
    
    
}
.drop-btn{
    border:none
    
}

.is-hidden{
    display: none;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 143px;
    z-index: 10;
    /* color: green; */
    background-color: #f6f6f6;

}
.drop-btn:hover .is-hidden{
    display: block;

}
.dropdown-col{
    float: left;
    width: 10%;
}
.dropdown-col > ul{
    margin-bottom:10px;
}
.hidden >li > a{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
}
.hidden >li:first-child{
    font-size: 15px;
    color:#9d6a37;
}
.hidden > li > a{
    color:  #5b5b5b;
    font-size: 12px;
    justify-content: none;

}
.hidden > li > a:hover{
    color:#9d6a37;
}



/* landing page */



#scroll{
    /* border: 1px solid red; */
    height: 20px;
    width: 70%;
    overflow: hidden;
    margin-top: 1%;
  
  }
  
  #group{
  
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    font-size: 12px;
  
  }
  
  @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
  #banner{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
  }
  
  #banner>img{
      width: 100%;
  }
  
  #banner2{
     /* border: 1px solid red; */
     width: 95%;
     margin: auto;
     margin-top:1.5%; 
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
  
  }
  
  #banner2 > img{
      width: 100%;
      /* border: 1px solid red; */
  }
  
  #banner3{
     /* border: 1px solid red; */
     width: 95%;
     height: 150px;
     margin: auto;
     margin-top:1.5%; 
     background-color: #ffbc4b;
  
  }
  
  #banner3 > img{
      display: block;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  
  #shop{
      /* border: 1px solid red; */
      text-align: center;
      color: #9e6d3c;
      width: 95%;
      margin: auto;
      margin-top: 2%;
      font-size: 20px;
  }
  
  #timer{
      width: 100%;
      /* border: 1px solid red; */
      color: red;
      margin: auto;
      margin-top: .5%;
      text-align: center;
      font-weight: bold;
      
  }
  
  #shopImage{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
  }
  
  #shopImage > div{
      /* border: 1px solid red; */
      width: 100%;
      height: 300px;
      margin: auto;
      
  }
  
  #shopImage > div > img{
      /* border: 1px solid red; */
      width: 80%;  
      margin-top: 0px;
  }
  
  #h4shop{
      width: 80%;
      font-size: 14px; 
      /* border: 1px solid red;  */
      margin:0px;
  
  }
  
  #h5shop{
      font-size: 14px; 
      /* border: 1px solid red;  */
      width: 80%;
      margin:0px;
      padding-top: 3%;
  
  }
  
  strike{
      color: rgb(153, 151, 151);
  
  }
  
  #h5Span{
      color: #69ae68;
  
  }
  
  #heartIcon{
      /* border: 1px solid black; */
      width: 10%;
      margin-left: 70%;
  
  
  }
  
  #heartIcon > img{
      /* border: 1px solid red; */
      /* width: 110%; */
      border-radius: 10px;
  }
  
  #heartIcon > img:hover{
      background-color: rgb(207, 2, 2);
  }
  
  #explore{
      /* border: 1px solid red; */
      width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 19px;
  }
  
  #exploreImg{
  
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      height: 900px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
     
  
  }
  
  #exploreImg > div{
      /* border: 1px solid red; */
      margin: auto;
      width: 95%;
      gap: 5px;
      
  }
  
  #exploreImg > div > img{
      /* border: 1px solid red; */
      width: 100%;   
      margin: auto;
      height: 300px;
  }
  
  #exploreImg > div > h4{
      /* border: 1px solid red; */
      font-size: 18px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #exploreImg > div > p{
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  #shareTheLove{
    display: flex;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
    justify-content: space-between;
}


#shareTheLove > div:nth-child(1){
    /* border: 1px solid red; */
    color: rgb(154, 153, 153);
    text-align: left;
    font-size: 13px;
    
}

#shareTheLove > div:nth-child(2){
    /* border: 1px solid red; */
    color: #9e6d3c;
    text-align: center;
    font-size: 16px;
    
}

#shareTheLove > div:nth-child(3){
    /* border: 1px solid red; */
    color: #f05522;
    text-align: right;
    
}

#showLoveImg{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    height: 450px;
    overflow: auto;
    overflow: hidden;
    white-space: nowrap;
    /* margin-top: 2%; */

}

#showLoveImg > div{

    /* border: 1px solid red; */
    display: inline-block;
    width: 25%;
    margin-top: 1.5%;
    height: 430px;
    margin-right: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    

}

#showLoveImg > div > img{
    display: block;
    /* border: 1px solid black; */
    display: inline-block;
    width: 99%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;    
}

#showLoveImg > div > p{
    color:#858383;
    font-size: 11.5px;
}

#instalogo{
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    margin: auto;

}

#instalogo > img{
    /* border: 1px solid red; */
    width: 100%;
}

  
  
  #discover{
      /* border: 1px solid red; */
      width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 16px;
  }
  
  #discoverImg{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      height: 380px;
  
  }
  
  #discoverImg > div{
      /* border: 1px solid red; */
      width: 95%;
      height: 330px;
      /* gap: 2px; */
      margin: auto;
      margin-top: 0px;
      
  }
  
  #discoverImg > div > img{
      /* border: 1px solid red; */
      width: 100%;  
      height: 330px; 
      margin: auto;
  }
  
  #discoverImg > div > h4{
      /* border: 1px solid red; */
      font-size: 15px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #discoverImg > div > p{
      /* border: 1px solid red; */
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  
  #follow{
  
    width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 13px;
  
  }
  
  #followImg{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  
  }
  
  #followImg > div{
      /* border: 1px solid red; */
      width: 95%;
      gap: 2px;
      margin: auto;
      margin-top: 2%;
      
  }
  
  #followImg > div > img{
      /* border: 1px solid red; */
      width: 100%;   
      margin: auto;
      margin-top: 0px;
  }
  
  #followImg > div > h4{
      /* border: 1px solid red; */
      font-size: 15px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #followImg > div > p{
      /* border: 1px solid red; */
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  
  #checkOut{
  
    width: 95%;
  color: #9e6d3c;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  font-size: 13px;
  
  }
  
  #checkOutImg{
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  }
  
  #checkOutImg > div{
  /* border: 1px solid red; */
  width: 95%;
  gap: 2px;
  margin: auto;
  margin-top: 2%;
  
  }
  
  #checkOutImg > div > img{
  /* border: 1px solid red; */
  width: 100%;   
  margin: auto;
  margin-top: 0px;
  }
  
  #checkOutImg > div > h4{
  /* border: 1px solid red; */
  font-size: 15px;
  margin-left: 0px;
  color: #5b5b5b;
  padding-top: 1.5%;
  
  }
  
  #checkOutImg > div > p{
  /* border: 1px solid red; */
  font-size: 12px;
  margin-left: 0px;
  color: #858383;
  padding-bottom: 1.5%;
  
  }


  .list>li {
    cursor: pointer;
}

#footer-wrap {

    border: 1px solid #e7ebed;
    background-color: #f4f5f7;
}

#top-footer,
#bottom-first-footer {
    padding: 1.5% 5% 2% 5%;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-footer-col {
    flex-basis: 33.3%;
    margin: 0;
}

#footer-logo,
.footer-col-heading {
    margin-top: 2%;
    margin-bottom: 2%;

}

.footer-col-heading>a {
    margin-bottom: 2%;
    text-decoration: none;
    color: black;
}

.list {
    padding: 0%;
    margin-top: 0%;
}

.list a,
.footer-col-wrapper>a,
p {
    text-decoration: none;
    color: #969696;
    line-height: 1.62;
    font-weight: 400;

}

.list li {
    list-style-type: none;
    color: #969696;
}

.footer-col-wrapper {

    padding-right: 18%
}

.bottom-footer-col {
    flex-basis: 33.3%;
    margin: 0;
}

.wrap-content {

    padding-right: 15%;
}

#cards-wrap {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 8Vh 8VH;
}

#cards-wrap>div {
    margin: 0% 15% 15% 0%;
}

#cards-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.store {
    width: 100%;
    margin: 0%;
    padding-left: 0%;
}

.store>li {
    width: 50%;
    display: block;
    float: left;
    list-style: none;
    margin: 0%;

}

.store>li>a>img {
    width: 95%;
    height: 7VH;
}

.social-media-wrap {
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding-left: 0%;
}

.social-media-wrap>li {
    flex-basis: 20%;
    margin: 0%;
    list-style: none;
    padding-left: 0%;
}

.social-media-wrap>li>a>img {
    width: 75%;
    height: 7VH;
}


hr {
    background-color: rgb(236, 233, 233);
    border: 0px;
    height: 2px;
}

#bottom-last-footer {
    padding: 0% 5% 1% 5%;
}

.flex-basis50 {
    flex-basis: 50%;
    padding: 0%;
}

#blf-col>ul {
    padding: 0%;
}

#blf-col>ul>li,
#blf-col>ul>li>a {
    list-style: none;
    text-decoration: none;
    display: block;
    float: left;
    color: gray;

}