*{
    font-family: Manrope,sans-serif;
    margin: 0px;
}
/* landing page */



#scroll{
    /* border: 1px solid red; */
    height: 20px;
    width: 70%;
    overflow: hidden;
    margin: auto;
    margin-top: 1%;
  
  }
  
  #group{
  
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    font-size: 12px;
  
  }
  
  @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  
  #banner{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
  }
  
  #banner>img{
      width: 100%;
  }
  
  #banner2{
     /* border: 1px solid red; */
     width: 95%;
     margin: auto;
     margin-top:1.5%; 
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
  
  }
  
  #banner2 > img{
      width: 100%;
      /* border: 1px solid red; */
  }
  
  #banner3{
     /* border: 1px solid red; */
     width: 95%;
     height: 150px;
     margin: auto;
     margin-top:1.5%; 
     background-color: #ffbc4b;
  
  }
  
  #banner3 > img{
      display: block;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  
  #shop{
      /* border: 1px solid red; */
      text-align: center;
      color: #9e6d3c;
      width: 95%;
      margin: auto;
      margin-top: 2%;
      font-size: 20px;
  }
  
  #timer{
      width: 100%;
      /* border: 1px solid red; */
      color: red;
      margin: auto;
      margin-top: .5%;
      text-align: center;
      font-weight: bold;
      
  }
  
  #shopImage{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
  }
  
  #shopImage > div{
      /* border: 1px solid red; */
      width: 100%;
      height: 300px;
      margin: auto;
      
  }
  
  #shopImage > div > img{
      /* border: 1px solid red; */
      width: 80%;  
      margin-top: 0px;
  }
  
  #h4shop{
      width: 80%;
      font-size: 14px; 
      /* border: 1px solid red;  */
      margin:0px;
  
  }
  
  #h5shop{
      font-size: 14px; 
      /* border: 1px solid red;  */
      width: 80%;
      margin:0px;
      padding-top: 3%;
  
  }
  
  strike{
      color: rgb(153, 151, 151);
  
  }
  
  #h5Span{
      color: #69ae68;
  
  }
  
  #heartIcon{
      /* border: 1px solid black; */
      width: 10%;
      margin-left: 70%;
  
  
  }
  
  #heartIcon > img{
      /* border: 1px solid red; */
      /* width: 110%; */
      border-radius: 10px;
  }
  
  #heartIcon > img:hover{
      background-color: rgb(207, 2, 2);
  }
  
  #explore{
      /* border: 1px solid red; */
      width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 19px;
  }
  
  #exploreImg{
  
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      height: 900px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
     
  
  }
  
  #exploreImg > div{
      /* border: 1px solid red; */
      margin: auto;
      width: 95%;
      gap: 5px;
      
  }
  
  #exploreImg > div > img{
      /* border: 1px solid red; */
      width: 100%;   
      margin: auto;
      height: 300px;
  }
  
  #exploreImg > div > h4{
      /* border: 1px solid red; */
      font-size: 18px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #exploreImg > div > p{
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  #shareTheLove{
    display: flex;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
    justify-content: space-between;
}


#shareTheLove > div:nth-child(1){
    /* border: 1px solid red; */
    color: rgb(154, 153, 153);
    text-align: left;
    font-size: 13px;
    
}

#shareTheLove > div:nth-child(2){
    /* border: 1px solid red; */
    color: #9e6d3c;
    text-align: center;
    font-size: 16px;
    
}

#shareTheLove > div:nth-child(3){
    /* border: 1px solid red; */
    color: #f05522;
    text-align: right;
    
}

#showLoveImg{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    height: 450px;
    overflow: auto;
    overflow: hidden;
    white-space: nowrap;
    /* margin-top: 2%; */

}

#showLoveImg > div{

    /* border: 1px solid red; */
    display: inline-block;
    width: 25%;
    margin-top: 1.5%;
    height: 430px;
    margin-right: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    

}

#showLoveImg > div > img{
    display: block;
    /* border: 1px solid black; */
    display: inline-block;
    width: 99%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;    
}

#showLoveImg > div > p{
    color:#858383;
    font-size: 11.5px;
}

#instalogo{
    /* border: 1px solid red; */
    width: 40px;
    height: 40px;
    margin: auto;

}

#instalogo > img{
    /* border: 1px solid red; */
    width: 100%;
}

  
  
  #discover{
      /* border: 1px solid red; */
      width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 16px;
  }
  
  #discoverImg{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      height: 380px;
  
  }
  
  #discoverImg > div{
      /* border: 1px solid red; */
      width: 95%;
      height: 330px;
      /* gap: 2px; */
      margin: auto;
      margin-top: 0px;
      
  }
  
  #discoverImg > div > img{
      /* border: 1px solid red; */
      width: 100%;  
      height: 330px; 
      margin: auto;
  }
  
  #discoverImg > div > h4{
      /* border: 1px solid red; */
      font-size: 15px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #discoverImg > div > p{
      /* border: 1px solid red; */
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  
  #follow{
  
    width: 95%;
      color: #9e6d3c;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      font-size: 13px;
  
  }
  
  #followImg{
      /* border: 1px solid red; */
      width: 95%;
      margin: auto;
      margin-top: 1%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  
  }
  
  #followImg > div{
      /* border: 1px solid red; */
      width: 95%;
      gap: 2px;
      margin: auto;
      margin-top: 2%;
      
  }
  
  #followImg > div > img{
      /* border: 1px solid red; */
      width: 100%;   
      margin: auto;
      margin-top: 0px;
  }
  
  #followImg > div > h4{
      /* border: 1px solid red; */
      font-size: 15px;
      margin-left: 0px;
      color: #5b5b5b;
      padding-top: 1.5%;
  
  }
  
  #followImg > div > p{
      /* border: 1px solid red; */
      font-size: 12px;
      margin-left: 0px;
      color: #858383;
      padding-bottom: 1.5%;
  
  }
  
  #checkOut{
  
    width: 95%;
  color: #9e6d3c;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  font-size: 13px;
  
  }
  
  #checkOutImg{
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  }
  
  #checkOutImg > div{
  /* border: 1px solid red; */
  width: 95%;
  gap: 2px;
  margin: auto;
  margin-top: 2%;
  
  }
  
  #checkOutImg > div > img{
  /* border: 1px solid red; */
  width: 100%;   
  margin: auto;
  margin-top: 0px;
  }
  
  #checkOutImg > div > h4{
  /* border: 1px solid red; */
  font-size: 15px;
  margin-left: 0px;
  color: #5b5b5b;
  padding-top: 1.5%;
  
  }
  
  #checkOutImg > div > p{
  /* border: 1px solid red; */
  font-size: 12px;
  margin-left: 0px;
  color: #858383;
  padding-bottom: 1.5%;
  
  }


 