
        div {
    display: block;
  }
  .loginPage {
    height: 80vh;
    width: 57vw;
    color: white;
    margin-top: 5%;
    padding: 0;
    margin-left: 20%;
    display: flex;
  }
  .left_one img {
    width: 100%;
    height: 100%;
  }
  .left_one {
    width: 40%;
    float: left;
  }
  .right_one {
    width: 50%;
    float: left;
  }
  .right_one_Up {
    min-height: 366px;
    box-sizing: border-box;
  }
  .right_one_Inner {
    padding: 10% 15% 10%;
    background-color: rgba(231, 231, 231, 0.3);
  }
  form {
    display: block;
    margin-top: 0em;
  }
  .block {
    margin-bottom: 25px;
    position: relative;
  }
  .block .input {
    background: 0 0;
    border: 0;
    height: 30px;
    width: 100%;
    font-family: "Fira Sans", sans-serif;
    background-image: linear-gradient(#d8d8d8, #d8d8d8);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #969696;
  }
  
  button {
    align-items: center;
    background-color: #e75a16;
    border: none;
    display: block;
    outline: 0;
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-family: "Fira Sans", sans-serif;
    color: white;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
  }
  .right_one_down {
    text-align: center;
    padding: 20px 50px;
    box-sizing: border-box;
  }
  .right_one_down-1 {
    border: 1px solid #d8d8d8;
    display: block;
    letter-spacing: 0.23px;
    padding: 6%;
    font-size: 15px;
    line-height: 18px;
  }
  .media {
    color: #969696;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4%;
    font-size: 15px;
    line-height: 20%;
    font-family: "Fira Sans", sans-serif;
    margin-top: 5%;
  }
  .media-image {
    display: inline-block;
    width: 10%;
    height: 10%;
    vertical-align: middle;
    margin-top: 4%;
  }
  img {
    border-style: none;
    max-width: 100%;
  }
  
  input:focus {
    outline: none;
  }
    