
* {
    font-family: Manrope,sans-serif;
}

/* header */


.prime-nav > div{
    display: flex;
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
}
.prime-nav > div > form {
    border-bottom: 1px solid rgb(156, 156, 156);
    padding-bottom: 4px;
}
.prime-nav > div > form > input{
    border: none;
    font-size: 16px;
    line-height: 20px;

}
.small-nav-icon > a{
        padding: 0px 15px 0px 15px;
        text-decoration: none;
}

a{
    text-decoration: none;
}
.logo> a> img{ 
       width: 350px;
       
}
.sec
ond-nav{
    padding-top: 8px;
    padding-bottom: 8px;
}
.second-nav > div {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 13px;
    line-height: 1.25rem;
    background-color: transparent;
    
}
.second-nav > div > a > p{
    color: #000000;
}
.second-nav > div > a > p:hover {
    color: #ef3d22
}
.nav {
    background-color: #5b5b5b;
    box-sizing: border-box;
    height: 48px;
    padding-top: 10px;
    overflow: hidden;
    /* border: 2px solid black; */
}
.nav > ul{
    display: flex;
    width: 80%;
    min-width: 1200px;
    justify-content: center;
    margin: auto;  

}
.nav > ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.nav > ul li>span >a{
    display: flex;
    font-family: Manrope,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px 5px 5px 5px;
    
    
}
.drop-btn{
    border:none
    
}

.is-hidden{
    display: none;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 143px;
    z-index: 10;
    /* color: green; */
    background-color: #f6f6f6;

}
.drop-btn:hover .is-hidden{
    display: block;

}
.dropdown-col{
    float: left;
    width: 10%;
}
.dropdown-col > ul{
    margin-bottom:10px;
}
.hidden >li > a{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    display: block;
    letter-spacing: 0;
    color: rgb(0, 0, 0);
}
.hidden >li:first-child{
    font-size: 15px;
    color:#9d6a37;
    
}
.hidden > li > a{
    color:  #5b5b5b;
    font-size: 12px;
    justify-content: none;
    /* border: 1px solid red; */
    font-size: 14px;
    text-align: left;

}

.hidden > li{
    /* border: 1px solid red; */
    justify-content: left;
    
}
.hidden > li > a:hover{
    color:#9d6a37;
    /* border: 1px solid red; */
}   


#container>img {
    width: 100%;
    height: 100%;

    /* border: 2px solid red; */
}
.para{
padding: 3%;
}

#card1 {
    /* border: 2px solid red; */
    /* padding: 6%; */
    background-color: rgba(211, 211, 211, 0.425);
    height: 0px;
}

#card1-img>img {
    
    width: 100%;
    height: 5%
}

#card1-subdiv {
    padding-left: 13%;
    padding-top: 10%;
    padding-right: 4%;
}

#card2 {
    /* border: 2px solid red */
    background-color: rgba(211, 211, 211, 0.425);
    height: 0px;
}

#card2-img>img {
    width: 100%;
    height: 5%
}

#card2-subdiv {
    padding-left: 13%;
    padding-top: 10%;
    padding-right: 2%;
}

/* 
#UPLOAD-CATALOGUE {
    border-color: red;

} */

#paraline {
    text-align: center;
}

label {
    margin-top: 3%;
    display: block;
}

.input {
    padding-right: 200px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    
    
}

#submitbutton {
    /* padding-right: 50px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 47%;
    display: grid;
    align-items: center;
    color: black;
    background-color: orangered;
    border-radius: 3px;
    border: none; */
    padding-right: 172px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 47%;
    display: grid;
    align-items: center;
    color: black;
    background-color: orangered;
    border-radius: 3px;
    border: none;
}

#maincard {
    border: 2px solid brown;
}
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    gap: 20px;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        ' menu menu  main main  right right '
        ' menu menu  main main  right right '
        'footer footer footer footer  right right';

    /* background-color: #2196F3; */
    padding-left: 1%;
    padding-right: 1%;

}

/* @media (max-width: 576px) {
    .grid-container {
        gap: 20px;
        display: grid;
        grid-template-areas:
            'header header header header header header'
            ' menu menu  menu menu  menu menu '
            'main main  main main  main main '
            'right right right right right right'
            'footer footer footer footer  footer footer';
    
        
        padding-left: 1%;
        padding-right: 1%;
    
    }
} */

#imagecard>img {
    /* border: 2px solid red; */
    width: 100%;
    height: 46.5%;
}

#imagecard {
    display: inline;
    position: relative;
}

#getstart {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
}

#form {
    font-family: Poppins, sans-serif;
    background-color: rgba(245, 245, 245, 0.425);
    height: 0.5%;
    
  
}

#ourseller>div>img {
    width: 100%;
    height: 50%;
}
#ourseller>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 5%;
    text-align:left;
}

#ourseller {
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
}
/* #main-ourseller-div{
    margin-top: 50px;
    padding-top: 0%;
} */

