.prime-nav > div{
    display: flex;
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    justify-content: space-between;
}
.small-nav-icon > a{
        padding: 0px 15px 0px 15px;
        text-decoration: none;
}

a{
    text-decoration: none;
}
.logo > img{ 
       width: 250px;
}

.second-nav > div {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: .90rem;
    line-height: 1.25rem;
    background-color: transparent;
    color: #5b5b5b;
    

}
.nav {
    background-color: #5b5b5b;
    box-sizing: border-box;
    
}
.nav > ul{
    display: flex;
    width: 80%;
    min-width: 1200px;
    justify-content: center;
    margin: auto;  

}
.nav > ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.nav > ul li > a{
    display: flex;
    font-family: Manrope,sans-serif;
    font-size: 19px;
    letter-spacing: 0;
    color: aliceblue;
    margin: auto;
    padding: 5px 5px 5px 5px;
    
}
.is-hidden{
    display: none;
}
.hidden >li > a{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    color: aliceblue;
}